@import url("reset.css");

/* До всіх елементів - далі мають інші селектори перебити по пріорітетності */
* {
    color: black;
}

/* Звертаюсь до всіх li. Вони в мене один раз зутрічаються тому юзану для приклада */ 
li {
    color: blue;
}

/* До усіх тегів з класом header */
.header {
    color: blueviolet;
}

/* Звертаємось до конкретного айді */
#article {
    color: darkblue;
}

/* Для всіх тегів p з класом textblock */
p.textblock {
    color: aquamarine;
}

/* До всіх тегів з класами big та name одночасно*/
.big.name {
    color: red;
}

/* Звертаємось до кількох класів*/
.head,
footer{
    background-color: beige;
}
/* До усіх тегів а, але в елементах з класом big (вкладеність)*/
.big a{
      color: lightgreen;
}

/* Для класів mark, що знаходяться в класі div-block */
.div-block .mark{
                color: orangered;
}

/* До всіх елементів класу some-div (всі вкладеності)*/
.some-div * {
    color: brown;
}

/* Для тегів першого рівня Р класу div-p */
.div-p > p {
    background-color: aquamarine;
}

/* Для елементів Р які далі йдуть по колу після класу somediv-p, але з таким само рівнем вкладеності */
.somediv-p ~ p {
    background-color: pink;
}

/* Після класу onemore-div для Р такої ж вкладеності, але для першого Р */
.onemore-div + p {
    background-color: lightskyblue;
}

/*  Звернення по назві атрибуту, де є в назві -li*/

[class*="-li"]{
	color: violet;
}