
@import url("fonts.css");

@import url("https://fonts.googleapis.com/css?family=Inter:regular,600&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");

@import url("reset.css");

body{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7D7D7D;
    text-align: left;
}

.all{
    align-content: center;
    width: 692px;
    margin: 0 auto;
    margin-bottom: 200px;
}
.photo-1{
    width: 692px;
    height: 453px;
    margin-bottom: 38px;
}

.h-consulting{
    color: #37393F;
    font-family: Poppins;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 3px;
}

.p-completely{
    max-height: 86px;
    font-size: 18px;
    line-height: 1.46;
}

.first-div{
    margin-bottom: 42px;
    width: 692px;
    height: 683px;
}

.h-collaboration{
    color: #6B77E5;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 12px;
}

.p-customer{
    font-size: 18px;
    line-height: 1.46;
    margin-bottom: 39px;
}

.div-photo{
    display: inline-block;
    vertical-align: top;
    max-width: 331px; /* для прикладу*/
    margin: 0 29px 0 0;
}

.h-benefits{
    color: #37393F;
    font-family: Poppins;
    font-size: 25px;
    font-weight: 600;
    line-height: 1.27;
    margin-bottom: 15px;
}

.incubate{
    margin-bottom: 24px;
    color: #40DDB6;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.27;
}

.list-1{
    font-family: Inter;
    font-size: 18px;
    line-height: normal;
    margin-left: 35px;
}

.li-Holistically{
    margin: 35px 0px;
}

.div-inside{
    display: inline-block;
    max-width: 326px;
}

.second-part{
    align-content: center;
    width: 1169px;
    margin: 0 auto;
}

.what-wedo{
    color: #D06B00;
    font-size: 28px;
    line-height: normal;
    margin-bottom: 21px;
}

.we-develop{
    color: #0E333D;
    font-family: DM Serif Text;
    font-size: 59px;
    line-height: 1.46;
    margin-bottom: 25px;
}

.big-text{
    color: #474747;
    font-size: 20px;
    line-height: 1.8;
}

.block-1{
    width: 553px;
    display: inline-block;
    vertical-align: top;
    margin-right: 38px;
}

.jewellery,
.jewellery-2{
    width: 273px;
    height: 518px;
}

.img-5{
    margin-left: 22px;
}

.third-part{
    font-family: DM Serif Text;
    font-size: 24px;
    width: 500px;
    height: 100px;
    align-content: center;
    margin: 50px auto;
    overflow: scroll;
}